### TOPIC: String Based Assignment Problem

###### 1. Write a program to reverse a string.

In [5]:
str="pwskills"
reverse_str=str[::-1]
print("Reverse of",str,"is",reverse_str)

Reverse of pwskills is sllikswp

###### 2. Check if a string is a palindrome.

In [9]:
# program to check if a string is palindrome
str=input("Enter a string : ")
if(str==str[::-1]):
    print("Given string is a palindrome")
else:
    print("Given string is not a palindrome")

Enter a string : racecar
Given string is a palindrome

###### 3. Convert a string to uppercase.

In [11]:
str="pwskills"
# Convert str to upper case
upper_str=str.upper()
print(upper_str)

PWSKILLS

###### 4. Convert a string to lowercase.

In [12]:
str="APPLE"
lower_str=str.lower()
print(lower_str)

apple

###### 5. Count the number of vowels in a string.

In [16]:
str="Today is Tuesday!"
vowels=[ char for char in str if char in ('a','e','i','o','u')]
print("Number of vowels in the string :",len(vowels))

Number of vowels in the string : 6

###### 6. Count the number of consonants in a string.

In [18]:
str="Today is Tuesday!"
consonants=[ char for char in str if char.isalpha() and char not in ('a','e','i','o','u')]
print("Number of consonants in the string :",len(consonants))

Number of consonants in the string : 8

###### 7. Remove all whitespaces from a string.

In [20]:
str =" pw s k ills "
new_str=""
for char in str:
    if char!=" ":
        new_str+=char
        
# Display the string without spaces
print(new_str)

pwskills

###### 8. Find the length of a string without using the `len()` function.

In [23]:
str="pwskills"
count=0
for char in str:
    count+=1
    
print("The length of string ",str,"is ",count)

The length of string  pwskills is  8

###### 9. Check if a string contains a specific word.

In [25]:
str="The sun rises in the east"

# check if 'sun' exists in the string
if 'sun' in str:
    print("string contains sun")
else:
    print("string does not contains sun")

string contains sun

###### 10. Replace a word in a string with another word.

In [29]:
str="Today is Tuesday"

# Replace 'Tuesday' with 'Thursday' in the string 
replaced_str=str.replace('Tuesday','Thursday')

# Dispaly string after replace
print(replaced_str)

Today is Thursday

###### 11. Count the occurrences of a word in a string.

In [84]:
str="Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering."
print("String : ",str)

print("Count of occurance of 'leads' in string is :",str.count('leads') )

String :  Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering.
Count of occurance of 'leads' in string is : 4

###### 12. Find the first occurrence of a word in a string.

In [87]:
str="Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering."
print("String : ",str)
print("first occurrence of 'leads' in a string :",str.index('leads'))

String :  Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering.
first occurrence of 'leads' in a string : 5

###### 13. Find the last occurrence of a word in a string.

In [92]:
str="Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering."
print("String : ",str)

print("Last occurrence of 'leads' in a string :",str.rindex('leads'))

String :  Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering.
Last occurrence of 'leads' in a string : 79

###### 14. Split a string into a list of words.

In [94]:
str="Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering."
print("String : ",str)

list_words=str.split()

print("List of words in string: ",list_words)

String :  Fear leads to anger; anger leads to hatred; hatred leads to conflict; conflict leads to suffering.
List of words in string:  ['Fear', 'leads', 'to', 'anger;', 'anger', 'leads', 'to', 'hatred;', 'hatred', 'leads', 'to', 'conflict;', 'conflict', 'leads', 'to', 'suffering.']

###### 15. Join a list of words into a string.

In [96]:
list_of_words=["The","sun","rises","in","the","east"]
print("List of words : ",list_of_words)

s =' '.join(list_of_words)

print("String from list of words :",s)

List of words :  ['The', 'sun', 'rises', 'in', 'the', 'east']
String from list of words : The sun rises in the east

###### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [98]:
words_by_space="The sun rises in the east"
print("string where words are separated by spaces :",words_by_space)

words_by_underscore=words_by_space.replace(' ','_')
print("string where words are separated by words_by_space :",words_by_underscore)

string where words are separated by spaces : The sun rises in the east
string where words are separated by words_by_space : The_sun_rises_in_the_east

###### 17. Check if a string starts with a specific word or phrase.

In [102]:
s= "An apple a day keeps the doctor away"
print("String : ",s)
print("After checking if string starts with A")
if s.startswith('A'):
    print("String starts with A")
else:
    print("String does not start with A")

String :  An apple a day keeps the doctor away
After checking if string starts with A
String starts with A

###### 18. Check if a string ends with a specific word or phrase.

In [103]:
s= "An apple a day keeps the doctor away"
print("String : ",s)
print("After checking if string ends with 'away'")
if s.startswith('A'):
    print("String ends with 'away'")
else:
    print("String does not end with 'away'")

String :  An apple a day keeps the doctor away
After checking if string ends with 'away'
String ends with 'away'

###### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [105]:
s="hello world"
print("String : ",s)

print("After converting string to title case : ",s.title())

String :  hello world
After converting string to title case :  Hello World

###### 20. Find the longest word in a string.

In [109]:
s="An apple a day keeps the doctor away"
print("String : ",s)
max_length=0
max_word=""

words=s.split()

for word in words:
    if len(word)> max_length:
        max_length=len(word)
        max_word=word
        
print("The longest word in the string is","'",max_word,"'"," with max length",max_length)

String :  An apple a day keeps the doctor away
The longest word in the string is ' doctor '  with max length 6

###### 21. Find the shortest word in a string

In [4]:
s="An apple a day keeps the doctor away"
print("String : ",s)
min_length=1000
min_word=""

words=s.split()

for word in words:
    if len(word)< min_length:
        min_length=len(word)
        min_word=word
        
print("The shortest word in the string is","'",min_word,"'"," with min length",min_length)

String :  An apple a day keeps the doctor away
The shortest word in the string is ' a '  with min length 1

###### 22. Reverse the order of words in a string.

In [8]:
s="An apple a day keeps the doctor away"
print("String : ",s)
list_words=s.split()
print("Reverse the order of words in the string : ",' '.join(list_words[::-1]))

String :  An apple a day keeps the doctor away
Reverse the order of words in the string :  away doctor the keeps day a apple An

###### 23. Check if a string is alphanumeric

In [11]:
s =input("Enter a string")
if s.isalnum():
    print("Given string is alphanumeric")
else:
    print("Given string is not alphanumeric")

Enter a string3434dfgfgfg33
Given string is alphanumeric

###### 24. Extract all digits from a string.

In [14]:
s="34343fgfgfvcvffdfsd55565333898"
print("Given string : ",s)
list_of_digits=[]

for char in s:
    if char.isdigit():
        list_of_digits.append(char)

print("List of digits from given string is : ",list_of_digits)

Given string :  34343fgfgfvcvffdfsd55565333898
List of digits from given string is :  ['3', '4', '3', '4', '3', '5', '5', '5', '6', '5', '3', '3', '3', '8', '9', '8']

###### 25. Extract all alphabets from a string

In [16]:
s="34343fgfgfvcvffdfsd55565333898"
print("Given string : ",s)
list_of_alpha=[]

for char in s:
    if char.isalpha():
        list_of_alpha.append(char)

print("List of digits from given string is : ",list_of_alpha)

Given string :  34343fgfgfvcvffdfsd55565333898
List of digits from given string is :  ['f', 'g', 'f', 'g', 'f', 'v', 'c', 'v', 'f', 'f', 'd', 'f', 's', 'd']

###### 26. Count the number of uppercase letters in a string.

In [21]:
s="A Bird in Hand is Worth Two in the Bush"
count=0
for char in s :
    if char.isalpha() and char.isupper():
        count+=1
        
print("String : ",s)
print("The number of upper case letters in string is : ",count)

String :  A Bird in Hand is Worth Two in the Bush
The number of upper case letters in string is :  6

###### 27. Count the number of lowercase letters in a string.

In [22]:
s="aLICE in WONDERland"
count=0
for char in s :
    if char.isalpha() and char.islower():
        count+=1
        
print("String : ",s)
print("The number of lower case letters in string is : ",count)

String :  aLICE in WONDERland
The number of lower case letters in string is :  7

###### 28. Swap the case of each character in a string

In [23]:
s="aLICE in WONDERland"
print("String : ",s)
print("String after swap case: ",s.swapcase())

String :  aLICE in WONDERland
String after swap case:  Alice IN wonderLAND

###### 29. Remove a specific word from a string.

In [26]:
s="Alice in wonderland"
print("String : ",s)

print("String after removing 'Alice' from string : ",s.replace("Alice",""))

String :  Alice in wonderland
String after removing 'Alice' from string :   in wonderland

###### 30. Check if a string is a valid email address.

In [38]:
import re
email="John3214@outlook.com"
pattern = re.compile(r"^([a-zA-Z0-9])*(@){1}([a-zA-Z])*\.{1}com$")

if pattern.match(email):
    print("Given email is a valid email")
else:
    print("Given email is not a valid email")

Given email is a valid email

###### 31. Extract the username from an email address string.

In [7]:
import re
email="John3214@outlook.com"
print("Email : ",email)
x = re.search(r"^([a-zA-Z0-9])*(@){1}", email)

if x:
    print("Username from email : ",x.group().removesuffix('@'))

Email :  John3214@outlook.com
Username from email :  John3214

###### 32. Extract the domain name from an email address string.

In [12]:
import re
email="John3214@outlook.com"
print("Email : ",email)
x = re.search(r"(@){1}([a-zA-Z])*\.com", email)

if x:
    print("Username from email : ",x.group().removeprefix('@'))

Email :  John3214@outlook.com
Username from email :  outlook.com

###### 33. Replace multiple spaces in a string with a single space.

In [22]:
import re
str="Today            is     Thurday"
print("String with multiple spaces :",str)
str=str.strip()
str=re.sub("\s+",' ',str)
print("String after replacing multiple spaces with single space:",str)

String with multiple spaces : Today            is     Thurday
String after replacing multiple spaces with single space: Today is Thurday

###### 34. Check if a string is a valid URL.

In [15]:
import re

str="https://docs.python.org/3.13/whatsnew/3.13.html"
pattern=re.compile(r"^(http|https)(://)[\x00-\x7F]{1,1024}$")
x=pattern.match(str)

if x:
    print("String is a valid URL")
else:
    print("String is not a valid URL")

String is a valid URL

###### 35. Extract the protocol (http or https) from a URL string.

In [27]:
import re
url="https://docs.python.org/3.13/whatsnew/3.13.html"
x=re.search(r"^([a-z])+(\:)",url)

if x:
    print("Protocol is : ",x.group().removesuffix(':'))

Protocol is :  https

###### 36. Find the frequency of each character in a string.

In [29]:
str1="aaabccccdddeeeeeeeeeeeeeeffffffffgggggggggghhhhhhhhhhh"
dict1={}

for char in str1:
    if char not in dict1.keys():
        dict1[char]=str1.count(char)
        
print("Frequency of each char in string is : ",dict1)

Frequency of each char in string is :  {'a': 3, 'b': 1, 'c': 4, 'd': 3, 'e': 14, 'f': 8, 'g': 10, 'h': 11}

###### 37. Remove all punctuation from a string.

In [32]:
import string
str1="machine !!!,learning?????:"

print("String with punctuation: ",str1)

#check if char is in punctuation list & perform replace
for char in str1:
    if char in string.punctuation:
        str1=str1.replace(char,'')

print("String after removing punctuation: ",str1)

String with punctuation:  machine !!!,learning?????:
String after removing punctuation:  machine learning

###### 38. Check if a string contains only digits.

In [36]:
str1="322343"
print("String : ",str1)

if str1.isdigit():
    print("string contains only digits")
else:
    print("string does not contain only digits")

String :  322343
string contains only digits

###### 39. Check if a string contains only alphabets.

In [39]:
str1="wewew"
print("String : ",str1)

if str1.isalpha():
    print("string contains only alphabets")
else:
    print("string does not contain only alphabets")

String :  wewew
string contains only alphabets

###### 40. Convert a string to a list of characters.

In [41]:
str1="Today is Friday"
print("String : ",str1)
print("List of characters : ",[char for char in str1])

String :  Today is Friday
List of characters :  ['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'F', 'r', 'i', 'd', 'a', 'y']

###### 41. Check if two strings are anagrams

In [44]:
str1=input("Enter first string : ")
str2=input("Enter second string: ")

chars_str1=[char for char in str1]
chars_str2=[char for char in str2]

if sorted(chars_str1)==sorted(chars_str2):
    print("Given strings are anagram")
else:
    print("Given strings are not anagram")

Enter first string : elbow
Enter second string: below
Given strings are anagram

###### 42. Encode a string using a Caesar cipher.

In [74]:
import string

def encode_to_caesar_cipher(text,shift):
    text=text.upper()
    cipher_text=""
    
    # Create two dict for index to alphabel and another for alphabet to index
    cipher_dict={}
    index_dict={}
    for index,char in enumerate(string.ascii_uppercase):
        cipher_dict[index]=char
        index_dict[char]=index
    
    # Iterate text and convert to caesar cipher text
    for char in text:
        current_index=index_dict[char]
        
        
        if current_index+shift >25:
            new_index=(current_index+shift)-26
        else:
            new_index=current_index+shift
        
        cipher_text=cipher_text+cipher_dict[new_index]
    
    return cipher_text


text="ATTACKATONCE"
shift=4
print("Normal string: ",text)
print("Shift by : ",shift)
print( "String encrypted to caesar cipher",encode_to_caesar_cipher(text,shift))

# encode_to_caesar_cipher("Z",23)

Normal string:  ATTACKATONCE
Shift by :  4
String encrypted to caesar cipher EXXEGOEXSRGI

###### 43. Decode a Caesar cipher encoded string.

In [77]:
import string

def decode_caesar_cipher(text,shift):
    text=text.upper()
    cipher_text=""
    
    # Create two dict for index to alphabel and another for alphabet to index
    cipher_dict={}
    index_dict={}
    for index,char in enumerate(string.ascii_uppercase):
        cipher_dict[index]=char
        index_dict[char]=index
    
    # Iterate text and decode caesar cipher text
    for char in text:
        current_index=index_dict[char]
        
        if current_index-shift <0:
            new_index=26+(current_index-shift)
        else:
            new_index=current_index-shift
        
        cipher_text=cipher_text+cipher_dict[new_index]
    
    return cipher_text


text="KHOOR"
shift=3
print("Normal string: ",text)
print("Shift by : ",shift)
print( "String decoded to caesar cipher",decode_caesar_cipher(text,shift))

Normal string:  KHOOR
Shift by :  3
String decoded to caesar cipher HELLO

###### 44. Find the most frequent word in a string.

In [20]:
import string

#Input string
str1="Never give in. Never give in. Never, never, never, never-in nothing, great or small, large or petty-never give in, except to convictions of honor and good sense."
max_count=0
frequent_word=""
print("Input string : ",str1)
print("\n")

#removing punctuation from string
for char in str1:
    if char in string.punctuation:
        str1=str1.replace(char,' ')
    

#get list of words from string in lower case
list_words= [word.lower() for word in str1.split()]
print("List of words in string : ",list_words)
print("\n")

#Create frequency dict
frequency_dict={}
for word in list_words:
    if list_words.count(word) not in frequency_dict.keys():
        frequency_dict[list_words.count(word)]={word}
    else:
        frequency_dict[list_words.count(word)].add(word)
        
        
print("Frequency dictionary : ",frequency_dict)
print("\n")
        
max_freq=max(frequency_dict.keys())
print("The most frequent word in the string is : ",frequency_dict[max_freq])

Input string :  Never give in. Never give in. Never, never, never, never-in nothing, great or small, large or petty-never give in, except to convictions of honor and good sense.


List of words in string :  ['never', 'give', 'in', 'never', 'give', 'in', 'never', 'never', 'never', 'never', 'in', 'nothing', 'great', 'or', 'small', 'large', 'or', 'petty', 'never', 'give', 'in', 'except', 'to', 'convictions', 'of', 'honor', 'and', 'good', 'sense']


Frequency dictionary :  {7: {'never'}, 3: {'give'}, 4: {'in'}, 1: {'to', 'small', 'petty', 'convictions', 'large', 'great', 'honor', 'good', 'nothing', 'of', 'sense', 'except', 'and'}, 2: {'or'}}


The most frequent word in the string is :  {'never'}

###### 45. Find all unique words in a string.

In [22]:
import string

#Input string
str1="Never give in. Never give in. Never, never, never, never-in nothing, great or small, large or petty-never give in, except to convictions of honor and good sense."
max_count=0
frequent_word=""
print("Input string : ",str1)
print("\n")

#removing punctuation from string
for char in str1:
    if char in string.punctuation:
        str1=str1.replace(char,' ')
    

#get list of words from string in lower case
list_words= [word.lower() for word in str1.split()]
print("List of words in string : ",list_words)
print("\n")

#Create frequency dict
frequency_dict={}
for word in list_words:
    if list_words.count(word) not in frequency_dict.keys():
        frequency_dict[list_words.count(word)]={word}
    else:
        frequency_dict[list_words.count(word)].add(word)
        
        
print("Frequency dictionary : ",frequency_dict)
print("\n")

print("Unique words in the string are : ",frequency_dict[1])

Input string :  Never give in. Never give in. Never, never, never, never-in nothing, great or small, large or petty-never give in, except to convictions of honor and good sense.


List of words in string :  ['never', 'give', 'in', 'never', 'give', 'in', 'never', 'never', 'never', 'never', 'in', 'nothing', 'great', 'or', 'small', 'large', 'or', 'petty', 'never', 'give', 'in', 'except', 'to', 'convictions', 'of', 'honor', 'and', 'good', 'sense']


Frequency dictionary :  {7: {'never'}, 3: {'give'}, 4: {'in'}, 1: {'to', 'small', 'petty', 'convictions', 'large', 'great', 'honor', 'good', 'nothing', 'of', 'sense', 'except', 'and'}, 2: {'or'}}


Unique words in the string are :  {'to', 'small', 'petty', 'convictions', 'large', 'great', 'honor', 'good', 'nothing', 'of', 'sense', 'except', 'and'}

###### 46. Count the number of syllables in a string.

In [24]:
str1="Google Yahoo Microsoft Amazon"
counter=0

for char in str1:
    if char.lower() in ['a','e','i','o','u']:
        counter+=1
        
print("The number of syllables in string: ",counter)

The number of syllables in string:  12

###### 47. Check if a string contains any special characters.

In [29]:
import re

#condition check - if char not an alphabet or number then its a special character

pattern=re.compile(r"(^[A-Za-z0-9])*$")
str1="@@Machine%Learning1234"

if re.match(pattern,str1):
    print("String does not contain special characters")
    
else:
    print("String contains special characters")

String contains special characters

###### 48. Remove the nth word from a string.

In [32]:
str1="Google Yahoo Microsoft Amazon"
print("String :",str1)

n=int(input("Enter the value of n : "))

print(f"Removing element number {n} from string")
list_words=str1.split()
list_words.pop(n-1)
print("String :",' '.join(list_words))

String : Google Yahoo Microsoft Amazon
Enter the value of n : 3
Removing element number 3 from string
String : Google Yahoo Amazon

###### 49. Insert a word at the nth position in a string.

In [33]:
str1="Google Yahoo Microsoft Amazon"
print("String :",str1)

word=input("Enter a word to be inserted: ")
n=int(input("Enter the position of the new word : "))

list_words=str1.split()
list_words.insert(n-1,word)

print("String after insert :",' '.join(list_words))

String : Google Yahoo Microsoft Amazon
Enter a word to be inserted: Cloud
Enter the position of the new word : 3
String after insert : Google Yahoo Cloud Microsoft Amazon

###### 50. Convert a CSV string to a list of lists.

In [36]:
csv_string = """1,2,3
4,5,6
7,8,9"""

print("Input string csv : ",csv_string)

list_lists=[]

for line in csv_string.split('\n'):
    list_lists.append(line.split(','))
    
print("Output list of lists : ",list_lists)

Input string csv :  1,2,3
4,5,6
7,8,9
Output list of lists :  [['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

### TOPIC: List Based Practice Problem

###### 1. Create a list with integers from 1 to 10.

In [32]:
list_numbers=[i for i in range(1,11)]
print(list_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###### 2. Find the length of a list without using the `len()` function.

In [33]:
list_num=[34,5,6,7,8,9,2,90,2,3]
count=0

for num in list_num:
    count+=1
    
print("Length of the list is : ",count)

Length of the list is :  10

###### 3. Append an element to the end of a list.

In [37]:
list_fruits=["Apple","Mango","Orange"]

print("List before append : ",list_fruits)

# Append "Strawberry" to the list of fruits
list_fruits.append('Strawberry')

print("List after append : ",list_fruits)

List before append :  ['Apple', 'Mango', 'Orange']
List after append :  ['Apple', 'Mango', 'Orange', 'Strawberry']

###### 4. Insert an element at a specific index in a list.

In [38]:
list_fruits=['Apple', 'Mango', 'Orange', 'Strawberry']

print("List before insert : ",list_fruits)

# insert 'Grapes' at index position 2
list_fruits.insert(2,"Grapes")

print("List after insert at index position 2 : ",list_fruits)

List before insert :  ['Apple', 'Mango', 'Orange', 'Strawberry']
List after insert at index position 2 :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']

###### 5. Remove an element from a list by its value.

In [39]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']

print("List  : ",list_fruits)

# Remove Orange from the list 
list_fruits.remove('Orange')


print("New List after 'Orange' removed from the list : ",list_fruits)

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']
New List after 'Orange' removed from the list :  ['Apple', 'Mango', 'Grapes', 'Strawberry']

######  6. Remove an element from a list by its index.

In [40]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']

print("List  : ",list_fruits)

# Remove fruit at index 2 from the list 
list_fruits.pop(2)


print("New List after index 2 removed : ",list_fruits)

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']
New List after index 2 removed :  ['Apple', 'Mango', 'Orange', 'Strawberry']

###### 7. Check if an element exists in a list.

In [42]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']
print("List  : ",list_fruits)
print("Check if 'Mango' exists in the list")
if 'Mango' in list_fruits:
    print("Element is exists in the list")
    
else:
    print("Element does not exist in the list")

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry']
Check if 'Mango' exists in the list
Element is exists in the list

###### 8. Find the index of the first occurrence of an element in a list.

In [43]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry','Orange','Blueberries','Pomogranate']
print("List  : ",list_fruits)
print("The index of first occurance of 'Orange' in the list is : ",list_fruits.index('Orange'))

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry', 'Orange', 'Blueberries', 'Pomogranate']
The index of first occurance of 'Orange' in the list is :  3

###### 9. Count the occurrences of an element in a list.

In [44]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry','Orange','Blueberries','Pomogranate','Orange']
print("List  : ",list_fruits)
print("The number ofoccurrences of 'Orange' in the list is:  ", list_fruits.count('Orange'))

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry', 'Orange', 'Blueberries', 'Pomogranate', 'Orange']
The number ofoccurrences of 'Orange' in the list is:   3

###### 10. Reverse the order of elements in a list.

In [46]:
list_fruits=['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry','Orange','Blueberries','Pomogranate','Orange']
print("List  : ",list_fruits)


print("Reversed List  : ",list_fruits[::-1])

List  :  ['Apple', 'Mango', 'Grapes', 'Orange', 'Strawberry', 'Orange', 'Blueberries', 'Pomogranate', 'Orange']
Reversed List  :  ['Orange', 'Pomogranate', 'Blueberries', 'Orange', 'Strawberry', 'Orange', 'Grapes', 'Mango', 'Apple']

###### 11. Sort a list in ascending order.

In [40]:
list_num=[34,12,56,100,43,78,5,2,1,500]
print("List : ",list_num)

# Sorting
list_num.sort()

print("List sorted in ascending order: ",list_num)

List :  [34, 12, 56, 100, 43, 78, 5, 2, 1, 500]
List sorted in ascending order:  [1, 2, 5, 12, 34, 43, 56, 78, 100, 500]

###### 12. Sort a list in descending order.

In [41]:
list_num=[34,12,56,100,43,78,5,2,1,500]
print("List : ",list_num)

# Sorting
list_num.sort(reverse=True)

print("List sorted in descending order: ",list_num)

List :  [34, 12, 56, 100, 43, 78, 5, 2, 1, 500]
List sorted in descending order:  [500, 100, 78, 56, 43, 34, 12, 5, 2, 1]

###### 13. Create a list of even numbers from 1 to 20.

In [43]:
list_even=[x for x in range(1,21) if x%2==0]
print("List of even numbers from 1 to 20 :",list_even)

List of even numbers from 1 to 20 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

###### 14. Create a list of odd numbers from 1 to 20.

In [44]:
list_odd=[x for x in range(1,21) if x%2!=0]
print("List of even numbers from 1 to 20 :",list_odd)

List of even numbers from 1 to 20 : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###### 15. Find the sum of all elements in a list.

In [47]:
list_num=[1,2,3,4,5,6,7,8,9,10]
print("List of numbers : ",list_num)
print("Sum of all elements in the list : ",sum(list_num))

List of numbers :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of all elements in the list :  55

###### 16. Find the maximum value in a list.

In [48]:
list_num=[34,12,56,100,43,78,5,2,1,500]
print("List : ",list_num)
print("Maximum value from list is :",max(list_num))

List :  [34, 12, 56, 100, 43, 78, 5, 2, 1, 500]
Maximum value from list is : 500

###### 17. Find the minimum value in a list.

In [49]:
list_num=[34,12,56,100,43,78,5,2,1,500]
print("List : ",list_num)
print("Minimum value from list is :",min(list_num))

List :  [34, 12, 56, 100, 43, 78, 5, 2, 1, 500]
Minimum value from list is : 1

###### 18. Create a list of squares of numbers from 1 to 10.

In [50]:
list_squares=[x**2 for x in range(1,11) ]
print("List of squares of numbers from 1 to 10 : ",list_squares)

List of squares of numbers from 1 to 10 :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###### 19. Create a list of random numbers.

In [51]:
import random

random_list =random.sample(range(1000),50)
print("List of random numbers is  : ",random_list)

List of random numbers is  :  [792, 363, 978, 768, 395, 344, 506, 28, 732, 697, 396, 733, 228, 165, 782, 116, 418, 194, 513, 895, 171, 966, 762, 470, 852, 656, 89, 402, 474, 183, 898, 596, 337, 20, 331, 75, 212, 276, 712, 601, 575, 95, 709, 440, 404, 960, 451, 565, 97, 244]

###### 20. Remove duplicates from a list.

In [53]:
list_duplicates =[1,2,3,4,4,4,4,4,4,5,5,6,7,7,7,8,8,9,9,10,10]
print("List : ",list_duplicates)

list_unique=[]

for n in list_duplicates:
    if list_duplicates.count(n)==1 or (list_duplicates.count(n)>1 and n not in list_unique) :
        list_unique.append(n)

print("List after removing duplicates from list :",list_unique)

List :  [1, 2, 3, 4, 4, 4, 4, 4, 4, 5, 5, 6, 7, 7, 7, 8, 8, 9, 9, 10, 10]
List after removing duplicates from list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

###### 21. Find the common elements between two lists.

In [81]:
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9,10]

common_elements=[]

for n in list1:
    if n in list2:
        common_elements.append(n)
        
print("List1 : ",list1)
print("List2 : ",list2)
print("Common elements : ",common_elements)

List1 :  [1, 2, 3, 4, 5, 6]
List2 :  [4, 5, 6, 7, 8, 9, 10]
Common elements :  [4, 5, 6]

###### 22. Find the difference between two lists.

In [83]:
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9,10]

different_elements=[]

for n in list1:
    if n not in list2:
        different_elements.append(n)
        
print("List1 : ",list1)
print("List2 : ",list2)
print("Difference of list1 with list2 : ",different_elements)

List1 :  [1, 2, 3, 4, 5, 6]
List2 :  [4, 5, 6, 7, 8, 9, 10]
Difference of list1 with list2 :  [1, 2, 3]

###### 23. Merge two lists.

In [85]:
list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9,10]

print("List1 : ",list1)
print("List2 : ",list2)

print("Merged list : ",list1+list2)

List1 :  [1, 2, 3, 4, 5, 6]
List2 :  [4, 5, 6, 7, 8, 9, 10]
Merged list :  [1, 2, 3, 4, 5, 6, 4, 5, 6, 7, 8, 9, 10]

###### 24. Multiply all elements in a list by 2.

In [87]:
list1=[1,2,3,4,5]
print("List1 : ",list1)
print("Multiply all elements by 2 : ",[x*2 for x in list1])

List1 :  [1, 2, 3, 4, 5]
Multiply all elements by 2 :  [2, 4, 6, 8, 10]

###### 25. Filter out all even numbers from a list.

In [89]:
list1=[4,6,7,8,9,10,11,12,15,16,17,18,20,22]
print("List : ",list1)

print("After filter of even numbers from list:",[x for x in list1 if x%2==0])

List :  [4, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 18, 20, 22]
After filter of even numbers from list: [4, 6, 8, 10, 12, 16, 18, 20, 22]

###### 26. Convert a list of strings to a list of integers

In [90]:
str1=['2','3','4','6','8','9','5']
print("List of string : ",str1)

list1=[]

for n in str1:
    list1.append(int(n))

print("List of integers : ",list1)

List of string :  ['2', '3', '4', '6', '8', '9', '5']
List of integers :  [2, 3, 4, 6, 8, 9, 5]

###### 27. Convert a list of integers to a list of strings.

In [93]:
list1= [2, 3, 4, 6, 8, 9, 5]
print("List of integers : ",list1)

str1=[]

for s in list1:
    str1.append(str(s))

print("List of string : ",str1)

List of integers :  [2, 3, 4, 6, 8, 9, 5]
List of string :  ['2', '3', '4', '6', '8', '9', '5']

###### 28. Flatten a nested list.

In [94]:
list1=[2,3,4,5,6,7,8,[9,10,11,12]]
print("Nested List : ",list1)

for element in list1:
    if type(element)==list:
        list1.extend(element)
        list1.remove(element)

print("Flattened list : ",list1)

Nested List :  [2, 3, 4, 5, 6, 7, 8, [9, 10, 11, 12]]
Flattened list :  [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

###### 29. Create a list of the first 10 Fibonacci numbers.

In [95]:
fibo_list=[0,1]
for i in range(8):
    fibo_list.append( sum(fibo_list[-2:]) )
    
print("First 10 Fibonacci numbers : ",fibo_list)

First 10 Fibonacci numbers :  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

###### 30. Check if a list is sorted.

In [99]:
list1=[2,3,4,5,6,7,8]
#list1=[5,4,3,3,1]
print("Given list : ",list1)

print("Check if sorted")

if list1==sorted(list1) or list1==sorted(list1,reverse=True):
    print("List is sorted")
    
else:
    print("List is not sorted")

Given list :  [2, 3, 4, 5, 6, 7, 8]
Check if sorted
List is sorted

###### 31. Rotate a list to the left by `n` positions.

In [2]:
from collections import deque

list1=[1,2,3,4,5,6,7]
n=3

list_deque=deque(list1)
list_deque.rotate(-n)

rotated_list=list(list_deque)

print("Original list :",list1)
print("list rotate left by 3 :",rotated_list)

Original list : [1, 2, 3, 4, 5, 6, 7]
list rotate left by 3 : [4, 5, 6, 7, 1, 2, 3]

###### 32. Rotate a list to the right by `n` positions.

In [4]:
from collections import deque

list1=[1,2,3,4,5,6,7]
n=3

list_deque=deque(list1)
list_deque.rotate(n)

rotated_list=list(list_deque)

print("Original list :",list1)
print("list rotate right by 3 :",rotated_list)

Original list : [1, 2, 3, 4, 5, 6, 7]
list rotate right by 3 : [5, 6, 7, 1, 2, 3, 4]

###### 33. Create a list of prime numbers up to 50.

In [14]:
import math
prime_list=[]
for x in range(2,50):
    
    for i in range(2,round(math.sqrt(x))+1):
        if  x!=i and x%i==0 :
            break
    else:    
        prime_list.append(x)
           
print("Prime numbers upto 50: ",prime_list)

Prime numbers upto 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

###### 34. Split a list into chunks of size `n`.

In [21]:
list1=[1,2,3,4,5,6,7,8,9]
chunk_size=3
print("List :",list1)
print("Chunk Size :",chunk_size)

new_list=[]
prev=0
for index,x in enumerate(list1,1):
    
    if index%chunk_size==0:
        sub_list=list1[prev:index]
        new_list.append(sub_list)
        prev=index
        
print("Splited list : ",new_list)

List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Chunk Size : 3
Splited list :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

###### 35. Find the second largest number in a list

In [25]:
list1=[34,22,45,67,88,99,1,2,3,4,100,65,23,12,89]
print("List : ",list1)

list1.sort()
print("Second largest number in list :",list1[-2])

List :  [34, 22, 45, 67, 88, 99, 1, 2, 3, 4, 100, 65, 23, 12, 89]
Second largest number in list : 99

###### 36. Replace every element in a list with its square.

In [26]:
list1=[1,2,3,4,5,6,7,8]
print("List : ",list1)

list1=[x**2 for x in list1]
print("List of squares : ",list1)

List :  [1, 2, 3, 4, 5, 6, 7, 8]
List of squares :  [1, 4, 9, 16, 25, 36, 49, 64]

###### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [27]:
list1=[1,2,3,4,5,6,7,8]
dict1={}
for index,element in enumerate(list1):
    dict1[element]=index
    
print("List : ",list1)
print("Dictionary from list : ",dict1)

List :  [1, 2, 3, 4, 5, 6, 7, 8]
Dictionary from list :  {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7}

###### 38. Shuffle the elements of a list randomly.

In [29]:
import random

list1=[1,2,3,4,5,6,7,8,9]

print("List : ",list1)

random.shuffle(list1)

print("Randomly shuffled list : ",list1)

List :  [1, 2, 3, 4, 5, 6, 7, 8, 9]
Randomly shuffled list :  [5, 8, 4, 3, 1, 7, 9, 6, 2]

###### 39. Create a list of the first 10 factorial numbers.

In [33]:
import numpy as np

factorial_list=[]
for n in range(1,11):
    arr=np.array([i for i in range(1,n+1)])
    factorial_list.append(np.prod(arr))
    
print("List of the first 10 factorial numbers : ",factorial_list)

List of the first 10 factorial numbers :  [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

###### 40. Check if two lists have at least one element in common.

In [35]:
list1=[1,2,3,4,5,6,7]
list2=[6,7,8,9,10,11,12]

print("List1 : ",list1)
print("List2 : ",list2)

has_common_element=False

for ele in list1:
    if ele in list2:
        has_common_element=True
        break
        
if has_common_element:
    print("Result : Given Two lists have at least one element in common")
    
else:
    print("Result : Given Two lists do not have any common element")

List1 :  [1, 2, 3, 4, 5, 6, 7]
List2 :  [6, 7, 8, 9, 10, 11, 12]
Result : Given Two lists have at least one element in common

###### 41. Remove all elements from a list.

In [37]:
list1=[1,2,3,4,5,6,7]
print("List1 : ",list1)

# Removing all elements from list
list1.clear()

print("After removing all elements from List : ",list1)

List1 :  [1, 2, 3, 4, 5, 6, 7]
After removing all elements from List :  []

###### 42. Replace negative numbers in a list with 0.

In [38]:
list1=[-2,-3,4,5,6,-7,8,9,10,-11]
print("List : ",list1)
for index,x in enumerate(list1):
    if x<0:
        list1[index]=0
        
print("After replacing negative numbers with zero : ",list1)

List :  [-2, -3, 4, 5, 6, -7, 8, 9, 10, -11]
After replacing negative numbers with zero :  [0, 0, 4, 5, 6, 0, 8, 9, 10, 0]

###### 43. Convert a string into a list of words.

In [39]:
str1="Humpty Dumpty sat on a wall"
print("String : ",str1)

print("List of words from string : ",str1.split())

String :  Humpty Dumpty sat on a wall
List of words from string :  ['Humpty', 'Dumpty', 'sat', 'on', 'a', 'wall']

###### 44. Convert a list of words into a string.

In [41]:
list_words=["Twinkle","twinkle","little","star"]

print("List of words : ",list_words)

print("String from list of words : ",' '.join(list_words))

List of words :  ['Twinkle', 'twinkle', 'little', 'star']
String from list of words :  Twinkle twinkle little star

###### 45. Create a list of the first `n` powers of 2.

In [43]:
n=int(input("Enter non-negative value for n : "))

list_first_n_powers=[2**i for i in range(n)]

print("First",n,"powers of 2 :  ",list_first_n_powers)

Enter non-negative value for n : 10
First 10 powers of 2 :   [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

###### 46. Find the longest string in a list of strings.

In [10]:
list_strings=["A","bird","in","hand","is","worth","two","bush"]
print("List of strings : ",list_strings)

max_dict={}

for s in list_strings:
    if len(s) not in max_dict:
        max_dict[len(s)]=[s]
        
    else:
        max_dict[len(s)].append(s)
        
print("Longest strings in a list of strings : ",max_dict[max(max_dict.keys())] ,"with length ",max(max_dict.keys()))

List of strings :  ['A', 'bird', 'in', 'hand', 'is', 'worth', 'two', 'bush']
Longest strings in a list of strings :  ['worth'] with length  5

###### 47. Find the shortest string in a list of strings.

In [13]:
list_strings=["A","bird","in","hand","is","worth","two","bush"]
min_dict={}

for s in list_strings:
    if len(s) not in min_dict:
        min_dict[len(s)]=[s]
        
    else:
        min_dict[len(s)].append(s)
        
print("shortest strings in a list of strings : ",min_dict[min(min_dict.keys())] ,"with length ",min(min_dict.keys()))

shortest strings in a list of strings :  ['A'] with length  1

###### 48. Create a list of the first `n` triangular numbers

In [56]:
n=int(input("Enter value for n : "))
triangular_num=[]
list_vals=[]

for x in range(1,n+1):
    list_vals.append(x)
    triangular_num.append(sum(list_vals))

print(f"First {n} triangular numbers : ",triangular_num)

Enter value for n : 10
First 10 triangular numbers :  [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

###### 49. Check if a list contains another list as a subsequence.

In [62]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[6,7,8]
temp=[]
print("List 1 : ",list1)
print("List 2 : ",list2)

for x in list2:
    for y in list1:
        if x==y:
            temp.append(x)
    
    
if temp==list2:
    print("List2 is subsequence of list1")
    
else:
    print("List2 is not a subsequence of list1")

List 1 :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List 2 :  [6, 7, 8]
List2 is subsequence of list1

###### 50. Swap two elements in a list by their indices.

In [66]:
list1=[34,35,6,78,98,87]
print("List1 : ",list1)
pos1=1
pos2=3
list1[pos1-1],list1[pos2-1]=list1[pos2-1],list1[pos1-1]

print(f"After swapping positions {pos1} and {pos2} : ",list1)

List1 :  [34, 35, 6, 78, 98, 87]
After swapping positions 1 and 3 :  [6, 35, 34, 78, 98, 87]

### TOPIC: Tuple Based Practice Problem

###### 1. Create a tuple with integers from 1 to 5.

In [50]:
t= tuple([1,2,3,4,5])
print(type(t))
print(t)

<class 'tuple'>
(1, 2, 3, 4, 5)

###### 2. Access the third element of a tuple.

In [53]:
t=tuple(range(1,11))
print("Tuple : ",t)
print("Third element of tuple is : ",t[2])

Tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Third element of tuple is :  3

###### 3. Find the length of a tuple without using the `len()` function.

In [54]:
t=tuple(range(1,11))
print("Tuple : ",t)
print("Length of tuple is : ",len(t))

Tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Length of tuple is :  10

###### 4. Count the occurrences of an element in a tuple.

In [55]:
tuple_a =(1,2,3,5,5,5,5,5,5,5,5,3,4,4,5)
print("Tuple : ",tuple_a)
print("Count of occurances of 5 in the tuple",tuple_a.count(5))

Tuple :  (1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 4, 5)
Count of occurances of 5 in the tuple 9

###### 5. Find the index of the first occurrence of an element in a tuple.

In [56]:
tuple_a =(1,2,3,5,5,5,5,5,5,5,5,3,4,4,5)
print("Tuple : ",tuple_a)
print("index of first occurance of 5 is :",tuple_a.index(5))

Tuple :  (1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 4, 5)
index of first occurance of 5 is : 3

###### 6. Check if an element exists in a tuple.

In [57]:
tuple_a =(1,2,3,5,5,5,5,5,5,5,5,3,4,4,5)
print("Tuple : ",tuple_a)

if 2 in tuple_a:
    print("2 exists in the tuple")
else:
    print("2 does not exist in the tuple")

Tuple :  (1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 4, 5)
2 exists in the tuple

###### 7. Convert a tuple to a list.

In [58]:
tuple_a =(1,2,3,5,5,5,5,5,5,5,5,3,4,4,5)
print("Tuple : ",tuple_a)

#convert tuple to list
list_a=list(tuple_a)

print("List : ",list_a)

Tuple :  (1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 4, 5)
List :  [1, 2, 3, 5, 5, 5, 5, 5, 5, 5, 5, 3, 4, 4, 5]

###### 8. Convert a list to a tuple

In [59]:
list_b=[1,2,3,4,5]
print("List : ",list_b)

#Convert list to Tuple
tuple_b=tuple(list_b)

print("Tuple : ",tuple_b)

List :  [1, 2, 3, 4, 5]
Tuple :  (1, 2, 3, 4, 5)

###### 9. Unpack the elements of a tuple into variables

In [63]:
tuple_c=(5,6,7,8,9,0)
print("Tuple : ",tuple_c)

x1,x2,x3,x4,x5,x6=tuple_c

print("Variables : ",x1,x2,x3,x4,x5,x6)

Tuple :  (5, 6, 7, 8, 9, 0)
Variables :  5 6 7 8 9 0

###### 10. Create a tuple of even numbers from 1 to 10.

In [65]:
tuple_even=tuple([x for x in range(1,11) if x%2==0])
print("Tuple of even numbers from 1 to 10: ",tuple_even)

Tuple of even numbers from 1 to 10:  (2, 4, 6, 8, 10)

###### 11. Create a tuple of odd numbers from 1 to 10.

In [54]:
tuple_odd=tuple([x for x in range(1,11) if x%2!=0])
print("Tuple of even numbers from 1 to 10: ",tuple_odd)

Tuple of even numbers from 1 to 10:  (1, 3, 5, 7, 9)

###### 12. Concatenate two tuples.

In [55]:
tuple1=(1,2,3,4,5,6,7)
tuple2=(8,9,10,11,12,13,14,15,16,17,18,19,20)

print("Tuple1 : ",tuple1)
print("Tuple2 : ",tuple2)

print("Concatenation of tuples : ",tuple1+tuple2)

Tuple1 :  (1, 2, 3, 4, 5, 6, 7)
Tuple2 :  (8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
Concatenation of tuples :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

###### 13. Repeat a tuple three times.

In [56]:
tuple_a= (1,2,3,4,5)

print("Tuple ",tuple_a)

print("Tuple repeated 3 times : ",tuple_a*3)

Tuple  (1, 2, 3, 4, 5)
Tuple repeated 3 times :  (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

###### 14. Check if a tuple is empty

In [19]:
tuple_a =tuple()

if not tuple_a:
    print("Given tuple is empty")
    
else:
    print("Given tuple is not empty")

Given tuple is empty

###### 15. Create a nested tuple.

In [59]:
tuple_a=("cat","parrot",(1,2,3,4,5,(55,66,77,88,99)))

print("Nested tuple : ",tuple_a)

Nested tuple :  ('cat', 'parrot', (1, 2, 3, 4, 5, (55, 66, 77, 88, 99)))

###### 16. Access the first element of a nested tuple.

In [60]:
tuple_a=("cat","parrot",(1,2,3,4,5,(55,66,77,88,99)))
print("Tuple :",tuple_a)

print("First element of nested tuple: ",tuple_a[2][0])

Tuple : ('cat', 'parrot', (1, 2, 3, 4, 5, (55, 66, 77, 88, 99)))
First element of nested tuple:  1

###### 17. Create a tuple with a single element.

In [61]:
print("Tuple with single element : ",(1,))

Tuple with single element :  (1,)

###### 18. Compare two tuples.

In [62]:
tuple_a=(1,2,3,4,5)
tuple_b=(1,2,3,4,5)

if tuple_a==tuple_b:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are equal

###### 19. Delete a tuple.

In [63]:
tuple_a=(1,2,3,4,5)
print("Tuple : ",tuple_a)

del tuple_a

print("After deleting tuple : ",tuple_a)

Tuple :  (1, 2, 3, 4, 5)

NameError: name 'tuple_a' is not defined

###### 20. Slice a tuple.

In [64]:
tuple_a=(1,2,3,4,5,6,7,8,9,10)
print("Tuple : ",tuple_a)
print("Slice elements from third element to fifth element",tuple_a[2:5])

Tuple :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Slice elements from third element to fifth element (3, 4, 5)

###### 21. Find the maximum value in a tuple.

In [1]:
tuple_a=(34,23,12,56,76,89,24)
print("Tuple : ", tuple_a)
print("Maximum value in tuple",max(tuple_a))

Tuple :  (34, 23, 12, 56, 76, 89, 24)
Maximum value in tuple 89

###### 22. Find the minimum value in a tuple.

In [2]:
tuple_a=(34,23,12,56,76,89,24)
print("Tuple : ", tuple_a)
print("Minimum value in tuple",min(tuple_a))

Tuple :  (34, 23, 12, 56, 76, 89, 24)
Minimum value in tuple 12

###### 23. Convert a string to a tuple of characters.

In [4]:
s="Monday"
print("String :",s)
list_chars=[]
for char in s:
    list_chars.append(char)
    
print("Tuple of characters : ",tuple(list_chars))

String : Monday
Tuple of characters :  ('M', 'o', 'n', 'd', 'a', 'y')

###### 24. Convert a tuple of characters to a string.

In [6]:
tuple_chars=('J','a','n','u','a','r','y')
print("Tuple of characters : ",tuple_chars)

print("String from tuple of characters : ",''.join(tuple_chars))

Tuple of characters :  ('J', 'a', 'n', 'u', 'a', 'r', 'y')
String from tuple of characters :  January

###### 25. Create a tuple from multiple data types.

In [8]:
int_n=10
s="Today"
f=234.99
flag=True
c=34+6j
list_l=[1,2,3,4,5]
dict1={'a':1,'b':2}
set_s={1,2,3,4,5}


tuple_multiple_data_types=(int_n,s,f,c,list_l,dict1,set_s)
print("Tuple of multiple data types : ",tuple_multiple_data_types)

Tuple of multiple data types :  (10, 'Today', 234.99, (34+6j), [1, 2, 3, 4, 5], {'a': 1, 'b': 2}, {1, 2, 3, 4, 5})

###### 26. Check if two tuples are identical.

In [9]:
tuple_a=(1,2,3,4,5)
tuple_b=(1,2,3,4,5)

if tuple_a==tuple_b:
    print("Given tuples are identical")
    
else:
    print("Given tuples are not identical")

Given tuples are identical

###### 27. Sort the elements of a tuple.

In [12]:
tuple_a=(34,23,12,56,76,89,24)
print("Tuple : ",tuple_a)

print("Sorted tuple: ",tuple(sorted(tuple_a)))

Tuple :  (34, 23, 12, 56, 76, 89, 24)
Sorted tuple:  (12, 23, 24, 34, 56, 76, 89)

###### 28. Convert a tuple of integers to a tuple of strings.

In [13]:
tuple_a=(34,23,12,56,76,89,24)
print("Tuple of integers : ",tuple_a)
print("Tuple of strings : ",tuple([ str(x) for x in tuple_a]))

Tuple of integers :  (34, 23, 12, 56, 76, 89, 24)
Tuple of strings :  ('34', '23', '12', '56', '76', '89', '24')

###### 29. Convert a tuple of strings to a tuple of integers.

In [14]:
tuple_s=('1','2','3','4','5')
print("Tuple of strings : ",tuple_s)
print("Tuple of integers : ",tuple([int(x) for x in tuple_s]))

Tuple of strings :  ('1', '2', '3', '4', '5')
Tuple of integers :  (1, 2, 3, 4, 5)

###### 30. Merge two tuples.

In [15]:
tuple_a=(1,2,3,4,5)
tuple_b=(11,12,13,14,15)

print("Tuple a ",tuple_a)
print("Tuple b ",tuple_b)

print("Merged Tuple : ",tuple_a+tuple_b)

Tuple a  (1, 2, 3, 4, 5)
Tuple b  (11, 12, 13, 14, 15)
Merged Tuple :  (1, 2, 3, 4, 5, 11, 12, 13, 14, 15)

###### 31. Flatten a nested tuple.

In [24]:
tuple_nested=(45,23,12,(1,2,3,4,5))
print(f"Nested Tuple : ",tuple_nested)
flattened_list=[]

for element in tuple_nested:
    if type(element)==tuple:
        flattened_list.extend(element)
        
    else:
        flattened_list.append(element)
        
        
      
print("Flattened tuple : ",tuple(flattened_list))

Nested Tuple :  (45, 23, 12, (1, 2, 3, 4, 5))
Flattened tuple :  (45, 23, 12, 1, 2, 3, 4, 5)

###### 32. Create a tuple of the first 5 prime numbers.

In [26]:
import math
list_primes=[]
n=2

while(len(list_primes)!=5):
    for i in range(2,round(math.sqrt(n))+1):
        if i!=n and n%i==0:
            break
            
    else:
        list_primes.append(n)
        
    n+=1    
    
print("Tuple of first 5 prime numbers : ",tuple(list_primes))

Tuple of first 5 prime numbers :  (2, 3, 5, 7, 11)

###### 33. Check if a tuple is a palindrome.

In [27]:
tuple_a=(1,2,3,2,1)
print("Tuple : ",tuple_a)

#condition check
if tuple_a==tuple_a[::-1]:
    print("Tuple is a palindrome")
    
else:
    print("Tuple is not a palindrome")

Tuple :  (1, 2, 3, 2, 1)
Tuple is a palindrome

###### 34. Create a tuple of squares of numbers from 1 to 5.

In [29]:
print("Tuple of squares of numbers from 1 to 5 : ", tuple([n**2 for n in range(1,6)]))

Tuple of squares of numbers from 1 to 5 :  (1, 4, 9, 16, 25)

###### 35. Filter out all even numbers from a tuple.

In [31]:
tuple_a=(23,4,56,7,8,98,26,77,90)
print("Tuple: ",tuple_a)

print("Tuple of even numbers : ", tuple([n for n in tuple_a if n%2==0]))

Tuple:  (23, 4, 56, 7, 8, 98, 26, 77, 90)
Tuple of even numbers :  (4, 56, 8, 98, 26, 90)

###### 36. Multiply all elements in a tuple by 2.

In [33]:
tuple_a=(23,4,56,7,8,98,26,77,90)
print("Tuple: ",tuple_a)
print("Multiply all elements in tuple by 2 :",tuple([n*2 for n in tuple_a]))

Tuple:  (23, 4, 56, 7, 8, 98, 26, 77, 90)
Multiply all elements in tuple by 2 : (46, 8, 112, 14, 16, 196, 52, 154, 180)

###### 37. Create a tuple of random numbers.

In [37]:
import random

list_random=random.sample(range(299),25)
print("Tuple of random numbers : ",tuple(list_random))

Tuple of random numbers :  (114, 267, 259, 137, 240, 113, 233, 139, 173, 109, 10, 162, 34, 150, 71, 229, 133, 26, 116, 237, 0, 224, 211, 57, 222)

###### 38. Check if a tuple is sorted.

In [48]:
tuple_a=(56,45,34,23,12)
print("Tuple : ",tuple_a)

if tuple_a==tuple(sorted(tuple_a)) or tuple_a==tuple(sorted(tuple_a,reverse=True)):
    print("Tuple is sorted")
    
else:
    print("Tuple is not sorted")

Tuple :  (56, 45, 34, 23, 12)
Tuple is sorted

###### 39. Rotate a tuple to the left by `n` positions.

In [49]:
from collections import deque
tuple_a=(56,45,34,23,12)
print("Tuple : ",tuple_a)

d_tuple=deque(tuple_a)

d_tuple.rotate(-4)

print("Tuple shifted left by 4 : ",tuple(d_tuple))

Tuple :  (56, 45, 34, 23, 12)
Tuple shifted left by 4 :  (12, 56, 45, 34, 23)

###### 40. Rotate a tuple to the right by `n` positions.

In [50]:
from collections import deque
tuple_a=(56,45,34,23,12)
print("Tuple : ",tuple_a)

d_tuple=deque(tuple_a)

d_tuple.rotate(4)

print("Tuple shifted right by 4 : ",tuple(d_tuple))

Tuple :  (56, 45, 34, 23, 12)
Tuple shifted right by 4 :  (45, 34, 23, 12, 56)

###### 41. Create a tuple of the first 5 Fibonacci numbers

In [52]:
fibo_series=[0,1]

while len(fibo_series)!=5:
    fibo_series.append(fibo_series[-1]+fibo_series[-2])
    
print("Tuple of first 5 Fibonacci numbers: ",tuple(fibo_series))

Tuple of first 5 Fibonacci numbers:  (0, 1, 1, 2, 3)

###### 42. Create a tuple from user input.

In [53]:
str1=input("Enter input for tuple values (separated by space) ")

print("Tuple from user input : ",tuple(str1.split(' ')))

Enter input for tuple values (separated by space) s r t y h j k l
Tuple from user input :  ('s', 'r', 't', 'y', 'h', 'j', 'k', 'l')

###### 43. Swap two elements in a tuple.

In [54]:
tuple_a=(23,45,67,87,98,34)
print("Tuple : ",tuple_a)

list_from_tuple=list(tuple_a)
list_from_tuple[2],list_from_tuple[3]=list_from_tuple[3],list_from_tuple[2]

print("Tuple after swapping third and fourth element: ",tuple(list_from_tuple))

Tuple :  (23, 45, 67, 87, 98, 34)
Tuple after swapping third and fourth element:  (23, 45, 87, 67, 98, 34)

###### 44. Reverse the elements of a tuple.

In [55]:
tuple_a=(23,45,67,87,98,34)
print("Tuple : ",tuple_a)
print("Reversed tuple : ",tuple_a[::-1])

Tuple :  (23, 45, 67, 87, 98, 34)
Reversed tuple :  (34, 98, 87, 67, 45, 23)

###### 45. Create a tuple of the first `n` powers of 2.

In [56]:
n=10
list_powers=[2**i for i in range(1,11)]
print("tuple of the first `n` powers of 2",tuple(list_powers))

tuple of the first `n` powers of 2 (2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

###### 46. Find the longest string in a tuple of strings.

In [5]:
tuple_s=("Avengers","Ironman","Superman","Batman")
max_dict={}

for s in tuple_s:
    if len(s) not in max_dict.keys():
        max_dict[len(s)]=[s]
        
    else:
        max_dict[len(s)].append(s)

print("Longest strings in tuple : ",max_dict[max(max_dict.keys())] ,"with length ",max(max_dict.keys()))

Longest strings in tuple :  ['Avengers', 'Superman'] with length  8

###### 47. Find the shortest string in a tuple of strings.

In [7]:
tuple_s=("Today","is","Tuesday")
min_dict={}

for s in tuple_s:
    if len(s) not in min_dict.keys():
        min_dict[len(s)]=[s]
        
    else:
        min_dict[len(s)].append(s)

print("Shortest strings in tuple : ",min_dict[min(min_dict.keys())] ,"with length ",min(min_dict.keys()))

Shortest strings in tuple :  ['is'] with length  2

###### 48. Create a tuple of the first `n` triangular numbers.

In [15]:
n=20
triangular_numbers=[]
temp_list=[]
x=1
while len(triangular_numbers)!=n:
    temp_list.append(x)
    triangular_numbers.append(sum(temp_list))
    x+=1
    
    
print(f"Tuple of first {n} triangular numbers",tuple(triangular_numbers))

Tuple of first 20 triangular numbers (1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210)

###### 49. Check if a tuple contains another tuple as a subsequence.

In [17]:
tuple_a=(3,4,5,6,7,8,9,2)
tuple_b=(5,8,9)
match_seq=[]

print("Tuple a :",tuple_a)
print("Tuple b :",tuple_b)

for b in tuple_b:
    for a in tuple_a:
        if b==a:
            match_seq.append(b)
            
if tuple_b==tuple(match_seq):
    print("Tuple b is a subsequence of Tuple a")
else:
    print("Tuple b is not a subsequence of Tuple a")

Tuple a : (3, 4, 5, 6, 7, 8, 9, 2)
Tuple b : (5, 8, 9)
Tuple b is a subsequence of Tuple a

###### 50. Create a tuple of alternating 1s and 0s of length `n

In [30]:
n=10

alternate_list=[]
b=False
while len(alternate_list)!=10:
    b=not(b)
    alternate_list.append(1 if b else 0)

print("tuple of alternating 1s and 0s of length `n:",tuple(alternate_list))

tuple of alternating 1s and 0s of length `n: (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

### TOPIC: Set Based Practice Problem

###### 1. Create a set with integers from 1 to 5.

In [68]:
set_a = set([i for i in range(1,6)])
print("set with integers from 1 to 5",set_a)

set with integers from 1 to 5 {1, 2, 3, 4, 5}

###### 2. Add an element to a set

In [72]:
set_a={1,2,3,4,5,6}
print("Set : ",set_a)
set_a.add(7)
print("After adding 7 to set : ",set_a)

Set :  {1, 2, 3, 4, 5, 6}
After adding 7 to set :  {1, 2, 3, 4, 5, 6, 7}

###### 3. Remove an element from a set.

In [75]:
set_a={1,2,3,4,5,6}
print("Set : ",set_a)
set_a.remove(5)
print("After removing 5 from set : ",set_a)

Set :  {1, 2, 3, 4, 5, 6}
After removing 5 from set :  {1, 2, 3, 4, 6}

###### 4. Check if an element exists in a set.

In [76]:
set_a={1,2,3,4,5,6}
print("Set : ",set_a)

if 3 in set_a:
    print("3 exists in Set")
    
else:
    print("3 does not exist in set")

Set :  {1, 2, 3, 4, 5, 6}
3 exists in Set

###### 5. Find the length of a set without using the `len()` function.

In [77]:
set_a={1,2,3,4,5,6}
print("Set : ",set_a)

print("Length of set is : ",len(set_a))

Set :  {1, 2, 3, 4, 5, 6}
Length of set is :  6

###### 6. Clear all elements from a set.

In [78]:
set_a={1,2,3,4,5,6}
print("Set : ",set_a)

#clear all eleements
set_a.clear()

print("Set after clearing all elements :",set_a)

Set :  {1, 2, 3, 4, 5, 6}
Set after clearing all elements : set()

###### 7. Create a set of even numbers from 1 to 10.

In [80]:
set_even=set([i for i in range(1,11) if i%2==0])
print("set of even numbers from 1 to 10",set_even)

set of even numbers from 1 to 10 {2, 4, 6, 8, 10}

###### 8. Create a set of odd numbers from 1 to 10.

In [81]:
set_odd=set([i for i in range(1,11) if i%2!=0])
print("set of odd numbers from 1 to 10",set_odd)

set of odd numbers from 1 to 10 {1, 3, 5, 7, 9}

###### 9. Find the union of two sets.

In [82]:
set_A={1,2,3,4,5,6,7}
set_B={5,6,7,8,9,10}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

union_AB=set_A.union(set_B)

print("Union of set_A and set_B is : ",union_AB)

Set_A :  {1, 2, 3, 4, 5, 6, 7}
Set_B :  {5, 6, 7, 8, 9, 10}
Union of set_A and set_B is :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

###### 10. Find the intersection of two sets.

In [83]:
set_A={1,2,3,4,5,6,7}
set_B={5,6,7,8,9,10}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

intersection_AB=set_A.intersection(set_B)

print("Intersection of set_A and set_B is : ",intersection_AB)

Set_A :  {1, 2, 3, 4, 5, 6, 7}
Set_B :  {5, 6, 7, 8, 9, 10}
Intersection of set_A and set_B is :  {5, 6, 7}

###### 11. Find the difference between two sets

In [65]:
set_A={1,2,3,4,5,6,7}
set_B={5,6,7,8,9,10}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

print("Difference of set_A and set_B is : ",set_A.difference(set_B))

Set_A :  {1, 2, 3, 4, 5, 6, 7}
Set_B :  {5, 6, 7, 8, 9, 10}
Difference of set_A and set_B is :  {1, 2, 3, 4}

###### 12. Check if a set is a subset of another set.

In [66]:
set_A={1,2,3,4,5}
set_B={10,9,8,7,6,5,4,3,2,1}

print("Set A : ",set_A)
print("Set B : ",set_B)

if set_A.issubset(set_B):
    print("Set A is subset of Set B ")
    
else:
    print("Set A is not a subset of Set B ")

Set A :  {1, 2, 3, 4, 5}
Set B :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set A is subset of Set B

###### 13. Check if a set is a superset of another set.

In [67]:
set_A={1,2,3,4,5}
set_B={10,9,8,7,6,5,4,3,2,1}

print("Set A : ",set_A)
print("Set B : ",set_B)

if set_B.issuperset(set_A):
    print("Set B is superset of Set A ")
    
else:
    print("Set B is superset of Set A ")

Set A :  {1, 2, 3, 4, 5}
Set B :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set B is superset of Set A

###### 14. Create a set from a list.

In [68]:
list_num=[1,2,3,4,5,6,7,8]
print("List of numbers : ",list_num)

print("Set from list : ",set(list_num))

List of numbers :  [1, 2, 3, 4, 5, 6, 7, 8]
Set from list :  {1, 2, 3, 4, 5, 6, 7, 8}

###### 15. Convert a set to a list

In [69]:
set_words={"car","doll","toys","table","chair"}
print("Set of words : ",set_words)

print("List from set : ",list(set_words))

Set of words :  {'table', 'car', 'chair', 'doll', 'toys'}
List from set :  ['table', 'car', 'chair', 'doll', 'toys']

###### 16. Remove a random element from a set.

In [70]:
set_words={"car","doll","toys","table","chair"}
print("Set of words : ",set_words)

set_words.pop()

print("Set after removing random element in set ",set_words)

Set of words :  {'table', 'car', 'chair', 'doll', 'toys'}
Set after removing random element in set  {'car', 'chair', 'doll', 'toys'}

###### 17. Pop an element from a set.

In [71]:
fruits = {"apple", "banana", "cherry"}
print("Set : ",fruits)

fruits.pop()

print("After pop: ",fruits)

Set :  {'cherry', 'apple', 'banana'}
After pop:  {'apple', 'banana'}

###### 18. Check if two sets have no elements in common.

In [77]:
set_A={1,2,3,4,5,6,7}
set_B={8,9,10}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

if len(set_A.intersection(set_B))==0:
    print("Set_A and Set_B have no common elements")

Set_A :  {1, 2, 3, 4, 5, 6, 7}
Set_B :  {8, 9, 10}
Set_A and Set_B have no common elements

###### 19. Find the symmetric difference between two sets.

In [78]:
set_A={1,2,3,4,5,6,7}
set_B={4,5,6,7,8,9,10}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

print("Symmetric difference of set_A and set_B :",set_A.symmetric_difference(set_B))

Set_A :  {1, 2, 3, 4, 5, 6, 7}
Set_B :  {4, 5, 6, 7, 8, 9, 10}
Symmetric difference of set_A and set_B : {1, 2, 3, 8, 9, 10}

###### 20. Update a set with elements from another set.

In [80]:
set_A={1,2,3,}
set_B={4,5,6}

print("Set_A : ",set_A)
print("Set_B : ",set_B)

set_A.update(set_B)

print("Update Set_A with Set_B : ",set_A)

Set_A :  {1, 2, 3}
Set_B :  {4, 5, 6}
Update Set_A with Set_B :  {1, 2, 3, 4, 5, 6}

###### 21. Create a set of the first 5 prime numbers.

In [2]:
import math
s=set()
n=2
while len(s)!=5:
    for i in range(2,round(math.sqrt(n))+1):
        if i!=n and n%i==0:
            break
    else:
        s.add(n)
        
    n+=1
    
print("Set of first 5 prime numbers : ",s)

Set of first 5 prime numbers :  {2, 3, 5, 7, 11}

###### 22. Check if two sets are identical.

In [3]:
set1={2,3,4,5,6}
set2={2,3,4,5,6}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

if set1==set2:
    print("Sets are identical")
    
else:
    print("Sets are not identical")

Set 1 :  {2, 3, 4, 5, 6}
Set 2 :  {2, 3, 4, 5, 6}
Sets are identical

###### 23. Create a frozen set.

In [4]:
set1=frozenset([1,2,3,4,5,6])
print("Frozen set : ",set1)

Frozen set :  frozenset({1, 2, 3, 4, 5, 6})

###### 24. Check if a set is disjoint with another set.

In [6]:
set1={1,2,3}
set2={4,5,6}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

if set1.isdisjoint(set2):
    print("Sets are disjoint")
    
else:
    print("Sets are not disjoint")

Set 1 :  {1, 2, 3}
Set 2 :  {4, 5, 6}
Sets are disjoint

###### 25. Create a set of squares of numbers from 1 to 5.

In [7]:
print("Set of squares of numbers from 1 to 5 : ", {i**2 for i in range(1,6)})

Set of squares of numbers from 1 to 5 :  {1, 4, 9, 16, 25}

###### 26. Filter out all even numbers from a set.

In [10]:
set1={23,34,56,22,77,78,98,90}
print("Set : ",set1)
print("Even numbers from set : ",set(i for i in set1 if i%2==0))

Set :  {34, 98, 77, 78, 22, 23, 56, 90}
Even numbers from set :  {34, 98, 78, 22, 56, 90}

###### 27. Multiply all elements in a set by 2.

In [11]:
set1={2,3,4,5,6,7}
print("Set : ",set1)
print("Multiply all elements by 2 : ",{x*2 for x in set1})

Set :  {2, 3, 4, 5, 6, 7}
Multiply all elements by 2 :  {4, 6, 8, 10, 12, 14}

###### 28. Create a set of random numbers.

In [17]:
import random

set1=set(random.sample(range(500),12))
print("Set of random numbers : ",set1)

Set of random numbers :  {352, 451, 319, 38, 427, 365, 213, 182, 215, 251, 61, 63}

###### 29. Check if a set is empty.

In [18]:
s=set()
if not s:
    print("Set is empty")
else:
    print("Set is not empty")

Set is empty

###### 30. Create a nested set (hint: use frozenset).

In [23]:
set1={1,2,3,4,5,6,frozenset([22,33,44,55])}

print("Nested Set : ",set1)

Nested Set :  {1, 2, 3, 4, 5, 6, frozenset({33, 44, 22, 55})}

###### 31. Remove an element from a set using the discard method.

In [24]:
set1={1,2,3,4,5,6,7,8}
print("Set : ",set1)
set1.discard(7)
print("After discarding 7 from set : ",set1)

Set :  {1, 2, 3, 4, 5, 6, 7, 8}
After discarding 7 from set :  {1, 2, 3, 4, 5, 6, 8}

###### 32. Compare two sets.

In [26]:
set1={1,2,3,4,5}
set2={6,7,8,9}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

# compare sets 
if set1==set2:
    print("Sets are equal")
    
else:
    print("Sets are not equal")

Set 1 :  {1, 2, 3, 4, 5}
Set 2 :  {8, 9, 6, 7}
Sets are not equal

###### 33. Create a set from a string.

In [2]:
set1=set("Monday")

print("Set from string : ",set1)

Set from string :  {'n', 'o', 'd', 'a', 'y', 'M'}

###### 34. Convert a set of strings to a set of integers

In [3]:
set1={'1','2','3','4'}
print("Set of string : ",set1)
print("Set of integers : ",set(int(x) for x in set1))

Set of string :  {'2', '1', '3', '4'}
Set of integers :  {1, 2, 3, 4}

###### 35. Convert a set of integers to a set of strings.

In [6]:
set1={1, 2, 3, 4}
print("Set of integers : ",set1)
print("Set of strings : ",set(str(x) for x in set1))

Set of integers :  {1, 2, 3, 4}
Set of strings :  {'2', '1', '3', '4'}

###### 36. Create a set from a tuple.

In [7]:
tuple_t=(2,3,4,5,6,7,8)
print("Tuple : ",tuple_t)
print("Set from tuple : ",set(tuple_t))

Tuple :  (2, 3, 4, 5, 6, 7, 8)
Set from tuple :  {2, 3, 4, 5, 6, 7, 8}

###### 37. Convert a set to a tuple.

In [8]:
set_s={55,66,77,88,99,100}
print("Set : ",set_s)
print("Tuple from set : ",tuple(set_s))

Set :  {66, 99, 100, 55, 88, 77}
Tuple from set :  (66, 99, 100, 55, 88, 77)

###### 38. Find the maximum value in a set.

In [9]:
set_s={55,66,77,88,99,100}
print("Set : ",set_s)
print("Maximum value in set : ",max(set_s))

Set :  {66, 99, 100, 55, 88, 77}
Maximum value in set :  100

###### 39. Find the minimum value in a set.

In [10]:
set_s={55,66,77,88,99,100}
print("Set : ",set_s)
print("Minimum value in set : ",min(set_s))

Set :  {66, 99, 100, 55, 88, 77}
Minimum value in set :  55

###### 40. Create a set from user input.

In [12]:
set_s=set(input("Enter elements of set seperated by space: ").split(' '))
print("Set from user input : ",set_s)

Enter elements of set seperated by space: 23 45 56 67 78 89
Set from user input :  {'89', '45', '78', '56', '67', '23'}

###### 41. Check if the intersection of two sets is empty.

In [15]:
set1={2,3,4,5,6}
set2={7,8,9,10}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

if not set1.intersection(set2):
    print("Intersection of two sets is empty")
    
else:
    print("Intersection of two sets is not empty")

Set 1 :  {2, 3, 4, 5, 6}
Set 2 :  {8, 9, 10, 7}
Intersection of two sets is empty

###### 42. Create a set of the first 5 Fibonacci numbers.

In [18]:
fibonacci_num=[0,1]

while len(fibonacci_num)<5:
    fibonacci_num.append(fibonacci_num[-1]+fibonacci_num[-2])
    
print("Set of first 5 Fibonacci Numbers : ",set(fibonacci_num))

Set of first 5 Fibonacci Numbers :  {0, 1, 2, 3}

###### 43. Remove duplicates from a list using sets.

In [9]:
list_duplicates=[33,44,33,55,55,55,66,66,66,77,77,88,88,88,99,99]
print("List of duplicates : ",list_duplicates)

#Remove duplicates using set
list_no_dup=list(set(list_duplicates))

print("List with duplicates removed : ",list_no_dup)

List of duplicates :  [33, 44, 33, 55, 55, 55, 66, 66, 66, 77, 77, 88, 88, 88, 99, 99]
List with duplicates removed :  [33, 66, 99, 44, 77, 55, 88]

###### 44. Check if two sets have the same elements, regardless of their count.

In [12]:
set1={2,3,4,5,6,7}
set2={2,3,3,4,4,5,6,7}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

if set1==set2:
    print("Sets have same elements")
    
else:
    print("Sets do not have same elements")

Set 1 :  {2, 3, 4, 5, 6, 7}
Set 2 :  {2, 3, 4, 5, 6, 7}
Sets have same elements

###### 45. Create a set of the first `n` powers of 2.

In [21]:
n=int(input("Enter value of n : "))

print("Set of first n powers of 2 : ",set(2**i for i in range(n)))

Enter value of n : 5
Set of first n powers of 2 :  {1, 2, 4, 8, 16}

###### 46. Find the common elements between a set and a list.

In [23]:
list_l=[1,2,3,4,5,6,7,8]
set_s={6,7,8,9,10,11,12,13,14}

print("List : ",list_l)
print("Set : ",set_s)

print("Common elements between a set and a list : ",set_s.intersection(set(list_l)))

List :  [1, 2, 3, 4, 5, 6, 7, 8]
Set :  {6, 7, 8, 9, 10, 11, 12, 13, 14}
Common elements between a set and a list :  {8, 6, 7}

###### 47. Create a set of the first `n` triangular numbers.

In [30]:
n=int(input("Enter value of n : "))
triangular_num=set()
x=1
temp_list=[]
while len(triangular_num)!=n:
    
    temp_list.append(x)
    triangular_num.add(sum(temp_list))
    x+=1

    
print("Set of first n triangular numbers : ",triangular_num)

Enter value of n : 10
Set of first n triangular numbers :  {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

###### 48. Check if a set contains another set as a subset.

In [32]:
set1={2,3,4,5,6,7,8,9,10}
set2={6,7,8,9}

print("Set 1 : ",set1)
print("Set 2 : ",set2)

if set2.issubset(set1):
    print("Set 2 is a subset of Set 1")
    
else:
    print("Set 2 is not a subset of Set 1")

Set 1 :  {2, 3, 4, 5, 6, 7, 8, 9, 10}
Set 2 :  {8, 9, 6, 7}
Set 2 is a subset of Set 1

###### 49. Create a set of alternating 1s and 0s of length `n`.

In [38]:
n=int(input("Enter value of n : "))
b=False
list_1=[]
while len(list_1)!=n:
    b=not b
    list_1.append(1 if b else 0)
    
print("Set of alternating 1s and 0s of length",n,set(list_1))

Enter value of n : 5
Set of alternating 1s and 0s of length 5 {0, 1}

###### 50. Merge multiple sets into one.

In [39]:
list_sets =[{1,2,3},{4,5,6,7},{6,7,8,9},{10,11,12,12,13},{14,15,16,17,18}]
merged_set=set()
# Merge multiple sets into a single set
for s in list_sets:
    merged_set.update(s)
    
print("Merged set : ",merged_set)

Merged set :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}